<div class="py-5 theme-bg" data-overlay="0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12">
                <div class="banner_caption text-center mb-2">
                    <h1 class="ft-bold mb-4">Chercher des Freelances</h1>
                </div>



            </div>
        </div>
    </div>
</div>


<section class="bg-light">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="bg-white rounded mb-4">

                    <div class="sidebar_header d-flex align-items-center justify-content-between px-4 py-3 br-bottom">
                        <h4 class="ft-medium fs-lg mb-0">Search Filter</h4>
                        <div class="ssh-header">
                            <a href="javascript:void(0);" class="clear_all ft-medium text-muted">Clear All</a>
                            <a href="#search_open" data-toggle="collapse" aria-expanded="false" role="button"
                                class="collapsed _filter-ico ml-2"><i class="lni lni-text-align-right"></i></a>
                        </div>
                    </div>

                    <!-- Find New Property -->
                    <div class="sidebar-widgets collapse miz_show" id="search_open" data-parent="#search_open">

                        <div class="search-inner">

                            <div class="filter-search-box px-4 pt-3 pb-0">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search by keywords..."
                                        [(ngModel)]="searchText">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Location, Zip.."
                                        [(ngModel)]="location">
                                </div>
                            </div>

                            <div class="filter_wraps">



                                <!-- Job Locations Search -->
                                <div class="single_search_boxed px-4 pt-0 br-bottom">
                                    <div class="widget-boxed-header">
                                        <h4>
                                            <a href="#locations" data-toggle="collapse" aria-expanded="false"
                                                role="button" class="ft-medium fs-md pb-0 collapsed">Freelancer
                                                Locations</a>
                                        </h4>

                                    </div>
                                    <div class="widget-boxed-body collapse" id="locations" data-parent="#locations">
                                        <div class="side-list no-border">
                                            <!-- Single Filter Card -->
                                            <div class="single_filter_card">
                                                <div class="card-body p-0">
                                                    <div class="inner_widget_link">
                                                        <ul class="no-ul-list filter-list">
                                                            <li>
                                                                <input id="b1" class="checkbox-custom" name="ADA"
                                                                    type="checkbox" checked="">
                                                                <label for="b1" class="checkbox-custom-label">Australia
                                                                    (21)</label>
                                                            </li>
                                                            <li>
                                                                <input id="b2" class="checkbox-custom" name="Parking"
                                                                    type="checkbox">
                                                                <label for="b2" class="checkbox-custom-label">New Zeland
                                                                    (12)</label>
                                                            </li>
                                                            <li>
                                                                <input id="b3" class="checkbox-custom" name="Coffee"
                                                                    type="checkbox">
                                                                <label for="b3" class="checkbox-custom-label">United
                                                                    Kingdom (21)</label>
                                                                <ul class="no-ul-list filter-list">
                                                                    <li>
                                                                        <input id="ac1" class="checkbox-custom"
                                                                            name="ADA" type="checkbox">
                                                                        <label for="ac1"
                                                                            class="checkbox-custom-label">London
                                                                            (06)</label>
                                                                    </li>
                                                                    <li>
                                                                        <input id="ac2" class="checkbox-custom"
                                                                            name="Parking" type="checkbox">
                                                                        <label for="ac2"
                                                                            class="checkbox-custom-label">Manchester
                                                                            (07)</label>
                                                                    </li>
                                                                    <li>
                                                                        <input id="ac3" class="checkbox-custom"
                                                                            name="Coffee" type="checkbox">
                                                                        <label for="ac3"
                                                                            class="checkbox-custom-label">Birmingham
                                                                            (08)</label>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <input id="b4" class="checkbox-custom" name="Mother"
                                                                    type="checkbox">
                                                                <label for="b4" class="checkbox-custom-label">United
                                                                    State (04)</label>
                                                                <ul class="no-ul-list filter-list">
                                                                    <li>
                                                                        <input id="ad1" class="checkbox-custom"
                                                                            name="ADA" type="checkbox">
                                                                        <label for="ad1"
                                                                            class="checkbox-custom-label">New York
                                                                            (32)</label>
                                                                    </li>
                                                                    <li>
                                                                        <input id="ad2" class="checkbox-custom"
                                                                            name="Parking" type="checkbox">
                                                                        <label for="ad2"
                                                                            class="checkbox-custom-label">Washington
                                                                            (42)</label>
                                                                    </li>
                                                                    <li>
                                                                        <input id="ad3" class="checkbox-custom"
                                                                            name="Coffee" type="checkbox">
                                                                        <label for="ad3"
                                                                            class="checkbox-custom-label">Los Angeles
                                                                            (22)</label>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <input id="b5" class="checkbox-custom" name="Outdoor"
                                                                    type="checkbox">
                                                                <label for="b5" class="checkbox-custom-label">India
                                                                    (15)</label>
                                                            </li>
                                                            <li>
                                                                <input id="b6" class="checkbox-custom" name="Pet"
                                                                    type="checkbox">
                                                                <label for="b6" class="checkbox-custom-label">Singapore
                                                                    (09)</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Job Skills Search -->
                                <div class="single_search_boxed px-4 pt-0 br-bottom">
                                    <div class="widget-boxed-header">
                                        <h4>
                                            <a href="#skills" data-toggle="collapse" aria-expanded="false" role="button"
                                                class="ft-medium fs-md pb-0 collapsed">Skills</a>
                                        </h4>

                                    </div>
                                    <div class="widget-boxed-body collapse" id="skills" data-parent="#skills">
                                        <div class="side-list no-border">
                                            <!-- Single Filter Card -->
                                            <div class="single_filter_card">
                                                <div class="card-body p-0">
                                                    <div class="inner_widget_link">
                                                        <ul class="no-ul-list filter-list">
                                                            <li>
                                                                <input id="c1" class="checkbox-custom" name="ADA"
                                                                    type="checkbox" checked="">
                                                                <label for="c1"
                                                                    class="checkbox-custom-label">Administrative
                                                                    (15)</label>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Experience Search -->
                                <div class="single_search_boxed px-4 pt-0 br-bottom">
                                    <div class="widget-boxed-header">
                                        <h4>
                                            <a href="#experience" data-toggle="collapse" aria-expanded="false"
                                                role="button" class="ft-medium fs-md pb-0 collapsed">Experience</a>
                                        </h4>

                                    </div>
                                    <div class="widget-boxed-body collapse" id="experience" data-parent="#experience">
                                        <div class="side-list no-border">
                                            <!-- Single Filter Card -->
                                            <div class="single_filter_card">
                                                <div class="card-body p-0">
                                                    <div class="inner_widget_link">
                                                        <ul class="no-ul-list filter-list">
                                                            <li>
                                                                <input id="d1" class="checkbox-custom" name="ADA"
                                                                    type="checkbox" checked="">
                                                                <label for="d1" class="checkbox-custom-label">Beginner
                                                                    (54)</label>
                                                            </li>
                                                            <li>
                                                                <input id="d2" class="checkbox-custom" name="Parking"
                                                                    type="checkbox">
                                                                <label for="d2" class="checkbox-custom-label">1+ Year
                                                                    (32)</label>
                                                            </li>
                                                            <li>
                                                                <input id="d3" class="checkbox-custom" name="Coffee"
                                                                    type="checkbox">
                                                                <label for="d3" class="checkbox-custom-label">2 Year
                                                                    (09)</label>
                                                            </li>
                                                            <li>
                                                                <input id="d4" class="checkbox-custom" name="Mother"
                                                                    type="checkbox">
                                                                <label for="d4" class="checkbox-custom-label">3+ Year
                                                                    (16)</label>
                                                            </li>
                                                            <li>
                                                                <input id="d5" class="checkbox-custom" name="Outdoor"
                                                                    type="checkbox">
                                                                <label for="d5" class="checkbox-custom-label">4+ Year
                                                                    (17)</label>
                                                            </li>
                                                            <li>
                                                                <input id="d6" class="checkbox-custom" name="Pet"
                                                                    type="checkbox">
                                                                <label for="d6" class="checkbox-custom-label">5+ Year
                                                                    (22)</label>
                                                            </li>
                                                            <li>
                                                                <input id="d7" class="checkbox-custom" name="Beauty"
                                                                    type="checkbox">
                                                                <label for="d7" class="checkbox-custom-label">10+ Year
                                                                    (32)</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Job Level Search -->




                            </div>

                            <div class="form-group filter_button pt-2 pb-4 px-4">
                                <button type="submit" class="btn btn-md theme-bg text-light rounded full-width">22
                                    Results Show</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar End -->

            </div>

            <!-- Item Wrap Start -->
            <div class="col-lg-8 col-md-12 col-sm-12">

                <!-- row -->
                <div class="row align-items-center">

                    <!-- Single -->
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12"
                        *ngFor="let f of freelancer|free:location |filter:searchText| paginate: { itemsPerPage: 6, currentPage: p }">
                        <div class="job_grid border rounded ">
                            <div class="position-absolute ab-left"><button type="button"
                                    class="p-3 border circle d-flex align-items-center justify-content-center bg-white text-gray"><i
                                        class="lni lni-heart-filled position-absolute snackbar-wishlist"></i></button>
                            </div>
                            <div class="position-absolute ab-right"><span
                                    class="medium theme-cl theme-bg-light px-2 py-1 rounded">Full Time</span></div>
                            <div class="job_grid_thumbmb-2 text-center pt-4 px-3 mb-2">

                                <a href="candidate-detail.html"
                                    class="d-inline-flex text-center m-auto circle border p-2">
                                    <img src="https://127.0.0.1:8000/uploads/{{f.ImageFree}}" class="img-fluid circle"
                                        width="60" alt=""></a>

                            </div>
                            <div class="job_grid_caption text-center pb-3 px-3">
                                <h4 class="mb-0 ft-medium medium"><a [routerLink]="['/detail-condidate/',f.id]"
                                        class="text-dark fs-md">{{f.nom}} {{f.prenom}}</a></h4>
                                <div class="jbl_location"><i
                                        class="lni lni-map-marker mr-1"></i><span>{{f.AdresseFree}}</span></div>
                            </div>

                            <div class="job_grid_footer px-3">
                                <ul class="p-0 skills_tag text-center">
                                    <li><span class="px-2 py-1 medium skill-bg rounded text-dark"></span></li>
                                    <li><span class="px-2 py-1 medium skill-bg rounded text-dark">WordPress</span></li>
                                    <li><span class="px-2 py-1 medium skill-bg rounded text-dark">PHP</span></li>
                                    <li><span class="px-2 py-1 medium skill-bg rounded text-dark">HTML5</span></li>
                                    <li><span class="px-2 py-1 medium bg-danger rounded text-light">+3 More</span></li>
                                </ul>
                            </div>
                            <ul class="p-0 skills_tag text-center">
                                <div class="job_grid_footer px-3">

                                </div>
                                <li><span class="px-2 py-1 medium theme-bg rounded text-light"><a
                                            href="https://127.0.0.1:8000/uploads/{{f.cv}}">View Resume</a></span></li>
                            </ul>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="pagination">

                                <pagination-controls (pageChange)="p = $event"></pagination-controls>


                            </ul>
                        </div>
                    </div>
                </div>











            </div>
            <!-- row -->



        </div>

    </div>

</section>